:root {
    background-color: white;
    font-family: monospace;
    font-size: 10px;
}

/* Banner */

.banner {
    background-color: white;
    color: black;
    height: 10em;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.logo {
    height: 75%;
    display: block;
    position: relative;
    top: 50%;
    transform: translateX(10%) translateY(-50%);
    float: left;
    border: 5px solid red;
    border-radius: 20%;
}

.links-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
}

.links-container button {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 4rem;
    background-color: white;
    border: 1px solid lightgray;
    margin-right: 3rem;
    border-radius: 15%;
    cursor: pointer;
}

.separator {
    position: relative;
    height: 1px;
    width: 100%;
    top: 100%;
    transform: translateY(-10%);
    background-color: black;
}

/* Login / Register */

.card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(10%);
    font-size: 3em;
    box-sizing: border-box;
    background-color: white;
    width: min-content;
    height: min-content;
    padding: 5rem 10rem;
    border: 3px solid black;
    border-radius: 50px;
}

.card form {
    margin-top: 25%;
    text-align: center;
}

.card form input {
    position: relative;
    width: 150%;

    left: -25%;
    background-color: white;
}

.card form label {

}

.card form input#username,#email,#password {
    font-size: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.card form input.submit {

    margin-top: 20%;
    padding: 10% 0;
    font-family: monospace;
    font-size: 1em;
}

/* Browse */

.browsing_container {
    display: block;
}

.browse_tabs {
    margin-top: 1vh;
    width: 25%;
    position: relative;
    float: left;
}

.browse_tabs div {
    --height: Calc((100vh - 15em)/5);
    border: solid black 2px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
}

.view_tab {
    float: left;
    margin-left: 1vw;
    margin-top: 1vh;
}